<nav up-nav class="flex-1 p-4">
  <a href="{% url 'app:projects' %}" class="nav-link" up-target=".main" up-transition="ease" up-follow>My Projects</a>
  <a href="{% url 'app:locations' %}" class="nav-link" up-target=".main" up-transition="ease" up-follow>Locations</a>
  <a href="{% url 'app:characters' %}" class="nav-link" up-target=".main" up-transition="ease" up-follow>Characters</a>
  <a href="{% url 'app:items' %}" class="nav-link" up-target=".main" up-transition="ease" up-follow>Items</a>
  <a href="#" class="nav-link" up-target=".main" up-transition="ease" up-follow>Assets</a>
  <a href="{% url 'app:cartographer' %}" class="nav-link" up-target=".main" up-transition="ease" up-follow>Cartographer</a>
  <a href="{% url 'app:help' %}" class="nav-link" up-target=".main" up-transition="ease" up-follow>Help</a>
</nav>