<nav up-nav class="navbar">
  <a href="/" class="nav-link up-current" up-target=".content" up-transition="ease" up-follow>Home</a>
  <a href="/blog" class="nav-link" up-target=".content" up-transition="ease" up-follow>Blog</a>
  <a href="/projects" class="nav-link" up-target=".content" up-transition="ease" up-follow>Projects</a>
  <a href="/snippets" class="nav-link" up-target=".content" up-transition="ease" up-follow>Snippets</a>
  <a href="/contact" class="nav-link" up-target=".content" up-transition="ease" up-follow>Contact</a>
  <a href="/resume" class="nav-link" up-target=".content" up-transition="ease" up-follow>Resume</a>
</nav>