{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Plausible Analytics -->
  <script defer data-domain="trevordm.com" src="https://plausible.io/js/script.js"></script>

  <!-- Unpoly CSS -->
  <!-- <link rel="stylesheet" href="https://unpkg.com/unpoly/unpoly.min.css"> -->

  <!-- Unpoly JavaScript -->
  <!-- <script src="https://unpkg.com/unpoly/unpoly.min.js"></script> -->

  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
  <div>
    {% include './partials/_navbar.html' %}
  </div>

  <div class="content">
    {% block content %}
    {% endblock content %}
  </div>

  <script>
    up.on('click', '.navbar a', function(event, element) {
      up.follow(element.href, { history: true });
      event.preventDefault();
    });
  </script>
</body>
</html>